/* MOBILE */

h2,
h3 {
    text-align: center;
}

img {
    width: 100%;
}

.corpse-img {
    width: 70%;
}

.progression {
    text-align: center;
    font-size: 0.9em;
    color: blueviolet;
    font-weight: 600;
}

.step {
    margin-bottom: 80px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
}

.card .base-robot {
    text-align: center;
}

.card {
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 180px;
    padding: 20px;
    border: 2px solid #92689667;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
}

.instructions {
    text-align: center;
    margin-top: 30px;
}

.step-container {
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgb(221, 221, 221);
}

.choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choice label {
    width: 200px;
}

.step-seven-container {
    background-color: white;
    margin: 0 auto;
    padding: 20px 30px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
}

.robot-name,
.aim,
.robot-description {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 10px 0 10px 25px;
}

@media screen AND (min-width:485px) {

    .choice {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}

@media screen AND (min-width:630px) {

    h2,
    h3 {
        text-align: left;
    }

    .progression {
        text-align: left;
        font-size: 0.9em;
        color: blueviolet;
        font-weight: 600;
    }

    .cards-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 23px;
    }

    .card {
        background-color: white;
        height: 400px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 180px;
        padding: 20px;
        border: 2px solid #92689667;
        border-radius: 15px;
        cursor: pointer;
        transition: .3s;
    }

    .instructions {
        background-color: white;
        padding: 10px;
        border: 2px solid #92689667;
        border-radius: 15px;
        margin-top: 30px;
    }
}

@media screen AND (min-width:850px) {

    form {
        margin: 0 60px;
    }

}