/* MOBILE */

.container {
    margin: 70px 0 0 0;
    padding: 0 40px;
}

.main-container {
    padding-top: 10px;
}

.fixed-navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 150px;
}

/* etat barre laterale fermée */
.close {
    display: none;
}

.burger,
.close {
    position: fixed;
    top: 10px;
    left: 10px;
}

.fixed-navbar-show-hide {
    display: none;
    padding: 80px 0 0 12px;
}

/* etat barre laterale visible */
.show .burger {
    display: none;
}

.show .close {
    display: block;
}

.show .fixed-navbar-show-hide {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
}

.logo img {
    width: 70px;
    height: 70px;
}

/* CSS d'habillage */

.navbar-links,
.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 9px;
    gap: 30px;
    height: 70%;
}

.link {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.link i {
    display: none;
}

.link a,
.buttons a {
    color: gray;
    font-size: 0.8em;
    text-decoration: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    text-align: center;
    align-items: flex-start;
}



/* LAPTOP */