/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    font-size: 1rem;
    margin: 0;
    font-family: Poppins;
    background-image: url("../img/fond_body.png");
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    width: 300px;
    margin: 40px auto;
}

h2 {
    font-size: 1.5em;
    margin: 40px 0;
    text-align: center;
}

h3 {
    font-size: 1.1em;
    text-align: center;
}

h4 {
    font-size: 0.9em;
    font-weight: 570;
} */

/* .container {
    display: flex;
} */

/* .fixed-navbar {
    background-color: white;
    position: fixed;
    bottom: auto;
    left: 0;
    width: 190px;
    height: 100vh;
    overflow-y: auto;

   

}

.navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    
}

.link {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: gray;
}

.link a {
    color: gray;
    font-size: 0.8em;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30%;
    gap: 10px;
    margin: 40px auto;
}

.logo img {
    width: 100px;
    height: 100px;
}

.main-container {
    margin: 0 50px 0 190px;
    flex-grow: 1;
} */

.robot-name {
    font-size: 1.1em;
}

.description-container {
    display: flex;
    justify-content: space-around;
    gap: 120px;
    margin: 60px 0 0 60px;
    background-color: #c398e079;
    padding: 15px 18px 15px 0;
    border-radius: 20px;
    border: 2px solid #c398e0;
}

.description-container img {
    height: 300px;
    padding-left: 80px;
}

.description {
    font-size: 12px;
    text-align: left;
    background-color: white;
    border-radius: 20px;
    margin: 60px 0 0 60px;
    padding: 20px;
}

.description h3 {
    font-size: 1.5em;
}

.description p {
    font-size: 1.1em;
}

.debrief {
    background-color: white;
    border-radius: 20px;
    padding: 0 15px;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.number {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.number>p {
    font-size: 0.6em;
}

.name-step {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name-step span {
    background: blueviolet;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    font-size: 0.7em;
    margin: auto;
    text-align: center;
    line-height: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.name-step p {
    margin: 0;
    font-weight: 500;
    font-size: 0.7em;
}

.price {
    padding-right: 20px;
}

.price p {
    font-size: 0.9em;
    font-weight: 500;
    text-align: right;
}

.choice {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    background-color: white;
    border-radius: 13px;
    padding: 20px 65px;
    max-width: 750px;
    margin: 0 auto;
}

.choice .buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    flex: 1;
}

.choice .buttons p {
    margin: 0;
    font-size: 0.8em;
}

.choice .buttons a {
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    border-radius: 25px;
    font-size: 0.8em;
    padding: 5px 15px;
}

/* ############################################################################################################################################################################### */

@media screen AND (min-width:450px) {
    /* .main-container{
        margin-left:190px;

    } */
}



/* MOBILE FIRST  */

/* h1 {
    font-size: clamp(1.8rem, 2vw, 2.4rem);
}

h2 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

h3 {
    text-align: center;
    margin: 50px 0;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
}

.fixed-navbar {
    background-color: blueviolet;
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100vw;
}

.logo {
    display: none;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
}

.main-container {
    margin: 20px;
    text-align: center;
}

.robot-name {
    color: blueviolet;
}

.description-container img {
    width: 300px;
    height: 365px;
}

.debrief {
    text-align: left;
}

.description {
    padding: 0 0 20px 15px;
}

.price {
    font-size: 18px;
    text-align: right;
    font-weight: 600;
}

.choice {
    margin: 60px auto;
}

.choice .buttons {
    height: 110px;
}

.choice .buttons p {
    margin-bottom: 30px;
}

.choice .buttons a {
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    border-radius: 4px;
    padding: 15px;
}

footer {
    display: none;
}

@media (min-width: 768px) {
    .debrief {
        margin: auto 55px;
    }

    .description {
        padding: 0 0 20px 0;
    }

    .choice {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 60px 0 90px 0;
    }
} */