/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    font-size: 1rem;
    margin: 0;
    font-family: Poppins;
    background-image: url("../img/fond_body.png");
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    width: 300px;
    margin: 40px auto;
}

h2 {
    font-size: 1.5em;
    margin: 40px 0;
    text-align: center;
}

h4 {
    font-size: 0.9em;
    font-weight: 570;
} */

/* .container {
    display: flex;
} */

/* .fixed-navbar {
    background-color: white;
    position: fixed;
    bottom: auto;
    left: 0;
    width: 190px;
    height: 100vh;
    overflow-y: auto;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    
}

.link {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: gray;
}

.link a {
    color: gray;
    font-size: 0.8em;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30%;
    gap: 10px;
    margin: 40px auto;
}

.logo img {
    width: 100px;
    height: 100px;
}

.main-container {
    margin: 0 50px 0 190px;
    flex-grow: 1;
} */








/* MOBILE FIRST */
h3 {
    text-align: center;
}

hr {
    margin-top: 40px;
}

.debrief-container {
    display: block;
    padding: 0;
    margin: 0;
}

.debrief-container img {
    height: 200px;
    display: block;
    margin: 0 auto;
}

.debrief {
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 40px 0;
}

.steps {
    gap: 20px;
}

.number {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.number>p {
    font-size: 0.6em;
}

.name-step {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name-step span {
    background: blueviolet;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    font-size: 0.7em;
    margin: auto;
    text-align: center;
    line-height: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.name-step p {
    margin: 0;
    font-weight: 500;
    font-size: 0.7em;
}

.price p {
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
}

.description {
    text-align: left;
    border-radius: 20px;
    margin: 80px 0;
}

.description h3 {
    font-size: 1.27em;
}

.description p {
    font-size: 0.8em;
    text-align: center;
}

.choice {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

.choice .buttons {
    background-color: white;
    border-radius: 13px;
    padding: 15px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.choice .buttons p {
    margin: 0;
    font-size: 0.8em;
}

.choice .buttons a {
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 0.7em;
}


/* TABLET */

@media screen AND (min-width:450px) {

    .steps {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .choice {
        align-items: center;
    }

    .buttons {
        width: 70%;
    }
}


/* LAPTOP */

@media screen AND (min-width:850px) {

    h2 {
        margin: 40px 0;
        text-align: center;
    }

    hr {
        width: 300px;
    }

    .robot-name {
        font-size: 1.1em;
    }

    .debrief-container {
        display: flex;
        align-items: center;
        margin: 60px 60px 0 60px;
        background-color: #c398e079;
        padding: 15px 0;
        border-radius: 20px;
        border: 2px solid #c398e0;
    }

    .debrief-container img {
        height: 300px;
    }

    .debrief {
        background-color: white;
        border-radius: 20px;
        padding: 0 15px;
        max-width: 500px;
        margin: 0 auto;
    }

    .steps {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .number {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .number>p {
        font-size: 0.6em;
    }

    .name-step {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .name-step span {
        background: blueviolet;
        border-radius: 50px;
        width: 20px;
        height: 20px;
        font-size: 0.7em;
        margin: auto;
        text-align: center;
        line-height: 20px;
        font-weight: 600;
        color: rgb(255, 255, 255);
    }

    .name-step p {
        margin: 0;
        font-weight: 500;
        font-size: 0.7em;
    }

    .price {
        padding-right: 20px;
    }

    .price p {
        font-size: 0.9em;
        font-weight: 500;
        text-align: right;
    }

    .description {
        font-size: 12px;
        text-align: left;
        background-color: white;
        border-radius: 20px;
        margin: 60px 60px 0 60px;
        padding: 20px;
    }

    .description h3 {
        font-size: 1.5em;
    }

    .description p {
        font-size: 1.1em;
    }

    .choice {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 60px;
        background-color: white;
        border-radius: 13px;
        padding: 20px 65px;
        max-width: 750px;
        margin: 0 auto;
    }

    .choice .buttons {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 300px;
        flex: 1;
    }

    .choice .buttons p {
        margin: 0;
        font-size: 0.9em;
    }

    .choice .buttons a {
        text-decoration: none;
        color: white;
        background-color: blueviolet;
        border-radius: 25px;
        font-size: 0.8em;
        padding: 5px 15px;
    }
}

/* ############################################################################################################################################################################### */